html{
    scroll-behavior: smooth;
}
/* .icons{
    margin-left: 400px;
} */

.btn-custom{
    background-color: gray;
    color: rgb(243, 226, 226);
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    /* margin-left: 500px; */
    margin-top: 100px;
}
.btn-custom:hover{
    background-color: rgb(75, 61, 61);
    color: white;
}
/* .social-icons a{
    font-size: 23px; */
    /* margin-right: 15px; */
    /* color: #ededed;
    transition: color 0.3s ease;
    margin-right: 15px;
   
}
.social-icons a:hover{
    color: rgb(156, 144, 144); */
.social-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #333; /* Or brand colors */
  transition: color 0.3s;
}

.social-icons a:hover {
  color: rgb(156, 144, 144); /* Change color on hover (example: LinkedIn blue) */
}

